h1 {
  color: #ff0000;
  background-color: #cccccc;
  text-align: center;
}
div {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  background-color: #ffffff;
  background-color: #dddddd;
}
table, th, td {
   border: 1px solid black;
}
.top_row{
  background-color: #000000;
  color: #ffffff;
}
.hidden{
  display: none;
}

.visible{
  display:block;
}
body {
  background-color: #f0f5ff;
  font-family: serif;
  margin-top:0px;
}
footer{
  text-align:right;
}
#game_results {
  width: 80%;
}
#rules,#stats{
  border-style: dotted;
}
#icon{
  width:60px;
  padding:20px;
  vertical-align: middle;
  background-color: #d0e0ff;
  border-style: inset;
}
h1 {
  color: #5500ee;
  background-color: #d0e0ff;
  text-align: center;

}
div {
  margin: 3%;
  padding: 3%;
  background-color: #f0f5ff;
}
p{
  text-align:left;
  padding:4%;
  background-color: #f0f5ff;
  font-size:15px;
}
li{
  text-align:left;
}
img{
  background-color: #f0f5ff;
  border-width: medium;
  border-style:solid;
  color: #d0e0ff;
}

.large {
  background-color: #d0e0ff;
  padding: 3%;
}

#main {
  border-style:ridge;
  float: left;
  width: 60%;
}

#bar {
  border-style:ridge;
  margin-left:75%;

  width: 20%;
}

#player {
  width: 40%;
  padding: 3%;
}

#bowser {
  width: 35%;
  padding: 3%;
}
#t{
  margin-top:0px;
  padding:5px;
  text-align:center;
  width: 90%; display: table;
}

#r{
  text-align:center;
  display: table-row;
}

.hidden {
  display: none;
  margin: 5%;
  padding: 5%;
}

.visible {
  display: block;
}
button {
    border-width:medium;
    border-color: #5555EE;
    border-style:solid;
    margin: 4px 4px;
    padding: 10px 10px;
    display: inline-block;
    background-color: #EE88F0;
    font-weight:900;
    color: #000077;
}
button:hover {
    border-width:thick;
}
#logout{
  background-color: #FF4444;
  border-color: #55AAAA;
}
